@media screen and (min-width: 320px) {
  html {
    font-size: 32.5%;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 42.5%;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 52.5%;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 62.5%;
  }
}