@charset "UTF-8";
.table-wrap {
  margin-top: 20px;
}
.table-basic.table-us_fa_03_list td {
  text-align: center;
}

.el-platform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  background: url("../image/sub/img-us_fa_01--img01.png") no-repeat 0 0/auto;
  background-size: cover;
}
.el-platform__tit {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.45);
}
.el-platform__txt {
  position: absolute;
  bottom: -60px;
  width: calc(100% - 160px);
  padding: 40px 0;
  font-size: 18px;
  color: #000;
  background-color: #f7f7f7;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.08);
  line-height: 1.5;
  text-align: center;
}
.el-platform__txt strong {
  font-weight: 500;
}
.el-platform__des {
  margin-top: 113px;
  font-size: 16px;
  color: #747478;
  line-height: 26px;
  text-align: center;
}

.popup-wrap .btn-height--s {
  height: 30px;
  line-height: normal;
}

/* 캘린더 */
.calWrap {
  position: relative;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.calWrap .controlDate * {
  vertical-align: middle;
}
.calWrap .controlDate button {
  width: 42px;
  height: 45px;
}
.calWrap .controlDate span {
  margin: 0 27px;
  font-size: 30px;
  font-weight: 500;
}
.calWrap .calendarSt {
  display: grid;
  display: -ms-grid;
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(14%, auto));
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4rem repeat(5, minmax(12rem, auto));
  -ms-grid-rows: 4rem 12rem 12rem 12rem 12rem 12rem;
  margin-top: 10px;
}
.calWrap .calendarSt.simply {
  grid-template-rows: 3.5rem repeat(5, minmax(5.5rem, auto));
  /*   grid-template-rows: 4rem repeat(5, minmax(6rem, auto)); */
  -ms-grid-rows: 4rem 6rem 6rem 6rem 6rem 6rem;
}
.calWrap .calendarSt.simply > div {
  position: relative;
}
.calWrap .calendarSt.simply > div a {
  display: none;
}
.calWrap .calendarSt.simply > div > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-indent: -9999px;
}
.calWrap .calendarSt.simply > div > button::before {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #ff5f49;
  border-radius: 100%;
  content: "";
}
.calWrap .calendarSt > div {
  position: relative;
  text-align: left;
}
.calWrap .calendarSt > div::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  content: "";
  z-index: -1;
}
.calWrap .calendarSt > div:nth-child(7n) {
  border-right: 1px solid #eee;
}
.calWrap .calendarSt > div:nth-child(7n) p {
  color: #008af0;
}
.calWrap .calendarSt > div:nth-child(n+36) {
  border-bottom: 1px solid #eee;
}
.calWrap .calendarSt > div:nth-child(-n+7) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  /* border-bottom: 3px double #eee; */
  font-weight: 500;
}
.calWrap .calendarSt > div:nth-child(-n+7) p {
  padding: 0;
}
.calWrap .calendarSt > div:nth-child(7n+1) p {
  color: #ff0000;
}
.calWrap .calendarSt > div.today {
  background-color: #f4f4f4;
}
.calWrap .calendarSt > div.today::before {
  position: absolute;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  border: 1px solid #bababa;
  content: "";
  z-index: 0;
}
.calWrap .calendarSt > div > p {
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
}
.calWrap .calendarSt > div > a {
  display: block;
}
.calWrap .calendarSt > div > a.viewMore {
  text-align: center;
}
.calWrap .calendarSt > div > a:not(.viewMore) {
  overflow: hidden;
  height: 1.8rem;
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.calWrap .calendarSt > div > a:not(.viewMore) + a {
  margin-top: 0.3rem;
}
.calWrap .calendarSt > div > a.bg-pink {
  background-color: #fcd2e6;
}
.calWrap .calendarSt > div > a.bg-yellowGreen {
  background-color: #d0eca3;
}
.calWrap .calendarSt > div > a.bg-yellow {
  background-color: #f7e99d;
}
.calWrap .calendarSt > div.linkCalendar p {
  padding-bottom: 10px;
}
.calWrap .calendarSt > div .car-badge__item {
  position: relative;
  left: 0px;
  width: 100%;
  padding: 0 2px;
  z-index: 1;
}
.calWrap .calendarSt > div .car-badge__item + .car-badge__item {
  margin-top: 2px;
}
.calWrap .calendarSt > div .car-badge__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.calWrap .calendarSt > div .car-badge__list--blue {
  border: 1px solid #b7dcf3;
  background: #eefaff;
}
.calWrap .calendarSt > div .car-badge__list--yellow {
  border: 1px solid #f7e99d;
  background: #fffce9;
}
.calWrap .calendarSt > div .car-badge__list--green {
  border: 1px solid #b8ed98;
  background: #efffe5;
}
.calWrap .calendarSt > div .car-badge__list--red {
  border: 1px solid #fcd2e6;
  background: #fff1f8;
}
.calWrap .calendarSt > div .car-badge__link {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.calWrap .calendar-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}
.calWrap .calendar-info .res-status {
  font-size: 16px;
  color: #747478;
}
.calWrap .calendar-info .totRecodeCnt {
  color: #0053b3;
  font-weight: 600;
}
.calWrap .calendar-badge {
  margin-left: auto;
}
.calWrap .calendar-badge__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.calWrap .calendar-badge__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.calWrap .calendar-badge__list + .calendar-badge__list {
  margin-left: 15px;
}
.calWrap .calendar-badge__list span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 14px;
  border: 1px solid;
}
.calWrap .calendar-badge__list--blue span {
  border-color: #b7dcf3;
  background: #eefaff;
}
.calWrap .calendar-badge__list--yellow span {
  border-color: #f7e99d;
  background: #fffce9;
}
.calWrap .calendar-badge__list--green span {
  border-color: #b8ed98;
  background: #efffe5;
}
.calWrap .calendar-badge__list--red span {
  border-color: #fcd2e6;
  background: #fff1f8;
}