@charset 'UTF-8';
@import 'mixin';
@import 'svg';

.table{
    &-wrap{
        margin-top:20px;
    }
    &--myUpload{
        td{
            text-align:center;
            &:first-child, &:nth-child(2){
                text-align:left;
            }
        }
    }
}