@charset 'UTF-8';
@import 'mixin';
@import 'svg';

.lnb{
    width:240px;
    margin-right:40px;
    &__tit{
        margin-bottom:20px;
        font-size:26px;
        font-weight:500;
    }
    &-list{
    }
    &-item{
        border-top:1px solid #e0e4e6;
        > a{
            position:relative;
            display:block;
            padding:20px;
            font-size:16px;
            font-weight:500;
            border-left:1px solid #e0e4e6;
            border-right:1px solid #e0e4e6;
            background-color:#fff;
            line-height:1.2;
        }
        &:first-child{
            border-top:none;
            > a{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-top:1px solid #e0e4e6;
            }
        }
        &:last-child{
            > a{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom:1px solid #e0e4e6;
            }
            &.is-open{
                > a{
                    border-radius:0;
                    border-bottom:none;
                }
                .lnb-depth--02{
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom:1px solid #e0e4e6;
                }
            }
        }
        &.is-active{
            > a{
                background:linear-gradient(94deg, rgba(2,154,251,1) 0%, rgba(0,89,198,1) 100%);
                font-weight:500;
                color:#fff;
                span{
                    @include pos(absolute, $t:50%, $r:15px);
                    width:8px;
                    height:11px;
                    background:url('../image/common/icon/icon-clamp__right--white.png') no-repeat 90% center/8px 11px;
                    transform:translateY(-50%);
                    content:"";
                }
            }
            &.hasChild{
                > a{
                    &::before, &::after{
                        background-color:#fff;
                    }
                }
                .lnb-depth--02{
                    display:block;
                }
            }        
        }
        &.hasChild{
            > a{
                &::before, &::after{
                    position:absolute;
                    top:50%;
                    right:20px;
                    width:11px;
                    height:2px;
                    background-color:#a0a8ab;
                    transform:translateY(-50%);
                    transition:all .2s ease-in-out;
                    content:""
                }
                &::after{
                    transform:translateY(-50%) rotate(90deg);
                    transition:all .2s ease-in-out;
                }
                span{
                    display:none;
                }
            }
            &.is-open{
                > a{
                    &::after{
                        transform:translateY(-50%) rotate(0);
                    }
                }
            }
        }
    }
    &-depth{
        &--02{
            display:none;
            padding:25px 10px 25px 30px;
            border-top: 1px solid #e0e4e6;
            border-left: 1px solid #e0e4e6;
            border-right: 1px solid #e0e4e6;
            background-color:#f7fafe;
            li{
                background:url('../image/common/icon/icon-clamp__right.png') no-repeat 95% center/auto;
                > a{
                    font-size:15px;
                    font-weight:500;
                    color:#747478;
                }
                &::before{
                    top:5px;
                    background-color:#747478;
                }
                + li{
                    margin-top:20px;
                }
            }
        }
    }
}
.location{
    display:flex;
    align-items: center;
    li{
        position:relative;
        font-size:15px;
        font-weight:400;
        color:#747478;
        &:last-child{
            font-weight:600;
            color:#000;
        }
        + li{
            &::before{
                display:inline-block;
                margin:0 10px;
                width:7px;
                height:10px;
                background:url('../image/sub/icon/icon-clamp--location.png') no-repeat 0 0/7px 10px;
                content:""
            }
        }
    }
}
.paging{
    display:flex;
    justify-content: center;
    width:100%;
    margin-top:30px;
    margin-bottom:80px;
    a{
        display:flex;
        align-items:center;
        justify-content: center;
        width:36px;
        height:36px;
        font-size:15px;
        font-weight:500;
        border:1px solid #dde3e6;
        border-radius:100%;
        background-color:#fff;
        &.active{
            background-color:#003471;
            color:#fff;
        }
        + a{
            margin-left:6px;
        }
    }
}
.el{
    &-hyphen{
        width:10px;
        height:2px;
        background-color:#a0a8ab;
    }
    &-essential{
        color:#f18200;
    }
}
.editor{
    &-view{
        padding:20px 0;
        &__link{
            margin:0;
            padding:0;
        }
    }
}