@charset 'UTF-8';
@import 'mixin';
@import 'svg';

footer{
    &.sub{
        .btn{
            &--report{
                color:#000;
                border:1px solid #d4dbdd;
            }
        }
    }
}
.btn{
    height:40px;
    vertical-align:middle;
    &--report{
        height:36px;
        padding:0 17px;
        padding-left:38px;
        font-size:15px;
        color:#fff;
        border:1px solid #fff;
        border-radius:5px;
        line-height:36px;
        background:url('../image/common/icon/icon-exclam--yellow.png') no-repeat 10% 55%/auto;
    }
    &--sch{
        width:40px;
        height:40px;
        margin-left:3px;
        border-radius:4px;
        background:#0053b3 url('../image/common/icon/icon-sch.png') no-repeat center center/auto;
    }
}