@charset 'UTF-8';
@import 'mixin';
@import 'svg';

input, select{
    height:40px;
    padding:0 15px;
    padding-right:40px;
    font-size:15px;
    font-weight:400;
    color:#000;
    border:1px solid #e0e4e6;
    border-radius:4px;
    line-height:40px;
    text-indent:0;
    background-color:#fff;
    &::placeholder{
        font-size:15px;
        font-weight:500;
        color:#000;
    }
    &:focus{
        &::placeholder{
            color:#fff;
        }
    }
}
select{
    letter-spacing: -0.05em;
    background:#fff url('../image/common/icon/icon-clamp__down.png') no-repeat 95% center/auto;
}
textarea{
    padding:10px;
    outline:none;
    resize:none;
    border-radius:3px;
    border:1px solid #e0e4e6;
    font-size:14px;
}

.sch{
    &-area{
        &--box{
            padding:20px 0;
            input{
                &::placeholder{
                    color:#747478;
                }
                &:focus{
                    &::placeholder{
                        color:#fff;
                    }
                }
            }
        }
        &--gray{
            background-color:#f7f7f7;
        }
    }
    &-form{
        font-size:0;
        textarea{
            background-color:#fff;
        }
        &--row{
            display:flex;
            justify-content: center;
        }
    }
}
.ui{
    &-form{
        &-row{
            display:flex;
        }
        &-width{
            &--m{
                width:346px
            }
            &--s{
                width:158px
            }
            &--full{
                width:100%;
            }
        }
        &-height{
            &--100{
                height:100px;
            }
        }
        &-block{
            position:relative;
        }
    }
    &-scroll{
        overflow:auto;
    }
}