@charset 'UTF-8';

.table{
    &-wrap{
        margin-top:20px;
    }
    &-basic{
        &--row{
            th{
                padding:15px;                
            }
        }
        &.table-us_du_01_list, &.table-us_du_02_list{
            td{
                text-align:center;
            }
        }
        &.table-us_du_02_write--04{
            tr{
                &.has-form{
                    td{
                        padding:5px 20px;
                        &:first-child{
                            padding:5px 20px;
                        }
                        &:nth-child(2){
                            padding:5px 10px;
                        }
                    }
                }
                &:first-child{
                    &.has-form{
                        td{
                            &:nth-child(2){
                                padding:5px 20px;
                            }
                            &:nth-child(3){
                                padding:5px 10px;
                            }
                        }
                    }
                }
            }
        }
        &.table-us_du_02_write--05{
            td{
                background-color:#fff;
                + td{
                    border-left:1px solid #eceff0;
                }
            }
        }
        &.table-us_du_03_list{
            td{
                text-align:center;
            }
        }
        &.table-us_du_03_view--03{
            th{
                &[scope="col"]{
                    border-left:1px solid #eceff0;
                    text-align:center;
                }
            }
            td{
                border-left:1px solid #eceff0;
            }
        }
        &.table-us_du_03_write--02, &.table-us_du_03_write--03, &.table-us_du_03_write--04{
            th{
                &[scope="col"]{
                    border-left:1px solid #eceff0;
                    text-align:center;
                }
            }
            td{
                border-left:1px solid #eceff0;
            }
        }
    }
    &-us_du_02_view--04, &-us_du_02_write--04{
        th{
            + td{
                border-left:1px solid #eceff0;
            }
        }
        td{
            border-left:1px solid #eceff0;
        }
    }
    &-us_du_02_view--05{
        th{
            text-align:left;
        }
    }
}
.file{
    &__upload{
        &--name{
            &:disabled{
                background-color:#fff;
            }
        }
    }
    .ui-form-width--auto{
        width:auto;
    }
}
.page{
    &-wrap{
        .btn-wrap{
            &.justify-end{
                justify-content: flex-end;
            }
        }
    }
}