@charset 'UTF-8';

.table {
    &-wrap {
        margin-top: 20px;
    }

    &-basic {
        &.table-us_fa_03_list {
            td {
                text-align: center;
            }
        }
    }
}

.el {
    &-platform {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 300px;
        background: url('../image/sub/img-us_fa_01--img01.png') no-repeat 0 0/auto;
        background-size: cover;

        &__tit {
            font-size: 50px;
            font-weight: bold;
            color: #fff;
            text-shadow: 1px 1px 6px rgb(0 0 0 / 45%);
        }

        &__txt {
            position: absolute;
            bottom: -60px;
            width: calc(100% - 160px);
            padding: 40px 0;
            font-size: 18px;
            color: #000;
            background-color: #f7f7f7;
            border-radius: 3px;
            box-shadow: 1px 1px 13px rgb(0 0 0 / 8%);
            line-height: 1.5;
            text-align: center;

            strong {
                font-weight: 500;
            }
        }

        &__des {
            margin-top: 113px;
            font-size: 16px;
            color: #747478;
            line-height: 26px;
            text-align: center;
        }
    }
}

.popup-wrap {
    .btn-height--s {
        height: 30px;
        line-height: normal
    }
}


/* 캘린더 */ 
.calWrap {
    position: relative;
    width: 100%;
    margin-top: 40px;
    //float: left;
    text-align: center;
    .controlDate {
        * {
            vertical-align: middle;
        }
        button {
            width: 42px;
            height: 45px;
        }
        span {
            margin: 0 27px;
            font-size: 30px;
            font-weight: 500;
        }
    }
    
    
    .calendarSt {
        display: grid;
        display: -ms-grid;
        gap: 0;
        grid-template-columns: repeat(auto-fit, minmax(14%, auto));
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 4rem repeat(5, minmax(12rem, auto));
        -ms-grid-rows: 4rem 12rem 12rem 12rem 12rem 12rem;
        margin-top: 10px;
        &.simply {
            grid-template-rows: 3.5rem repeat(5, minmax(5.5rem, auto));
            /*   grid-template-rows: 4rem repeat(5, minmax(6rem, auto)); */
            -ms-grid-rows: 4rem 6rem 6rem 6rem 6rem 6rem;
            >div {
                position: relative;
                a {
                    display: none;
                }
                >button {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    margin: 0;
                    border: none;
                    background: none;
                    text-indent: -9999px;
                    &::before{
                        position: absolute;
                        bottom: .8rem;
                        right: .8rem;
                        width: .8rem;
                        height: .8rem;
                        background-color: #ff5f49;
                        border-radius: 100%;
                        content: "";
                    }
                }
            }
        }
        >div {
            position: relative;
            text-align: left;
            &::before{
                position: absolute;
                width: 100%;
                height: 100%;
                border-left: 1px solid #eeeeee;
                border-top: 1px solid #eeeeee;
                content: "";
                z-index: -1;
            }
            &:nth-child(7n) {
                border-right: 1px solid #eee;
                p {
                    color: #008af0;
                }
            }
            &:nth-child(n+36) {
                border-bottom: 1px solid #eee;
            }
            &:nth-child(-n+7) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                text-align: center;
                /* border-bottom: 3px double #eee; */
                font-weight: 500;
                p {
                    padding: 0;
                }
            }
            &:nth-child(7n+1) p {
                color: #ff0000;
            }
            &.today {
                background-color: #f4f4f4;
                &::before{
                    position: absolute;
                    width: calc(100% + 1px);
                    height: calc(100% + 1px);
                    border: 1px solid #bababa;
                    content: "";
                    z-index: 0;
                }
            }
            >p{
                font-size: 14px;
                font-weight: 500;
                padding: 15px;

            }
            >a {
                display: block;
                &.viewMore {
                    text-align: center;
                }
                &:not(.viewMore) {
                    overflow: hidden;
                    height: 1.8rem;
                    padding: 0.3rem;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    font-size: 1.2rem;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &+a{
                        margin-top: .3rem; 
                    }
                }
                &.bg{
                    &-pink {
                        background-color: #fcd2e6;
                    }
                    &-yellowGreen {
                        background-color: #d0eca3;
                    }
                    &-yellow {
                        background-color: #f7e99d;
                    }
                }
            }
            &.linkCalendar{
                p{
                    padding-bottom: 10px;
                }
            }
            .car-badge{
                &__item{
                    position: relative;
                    left: 0px;
                    width: 100%;
                    padding: 0 2px;
                    z-index: 1;
                    &+.car-badge__item{
                        margin-top: 2px;
                    }
                }   
                &__list{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;      
                    height: 17px;              
                    box-sizing: border-box;
                    &--blue{
                        border: 1px solid  #b7dcf3;
                        background: #eefaff;
                    }
                    &--yellow{
                        border: 1px solid #f7e99d;
                        background: #fffce9;
                    }
                    &--green{
                        border: 1px solid #b8ed98;
                        background: #efffe5;
                    }
                    &--red{
                        border: 1px solid #fcd2e6;
                        background: #fff1f8;
                    }
                }
                &__link{
                    display: block;
                    width:100%;
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
    .calendar{
        &-info{
            &__inner{
                display: flex;
                margin-top: 2rem;
            }
            .res-status{
                font-size: 16px;
                color: #747478;
            }
            .totRecodeCnt{
                color:#0053b3;
                font-weight: 600;
            }
        }
        &-badge{
            margin-left: auto;
            &__inner{
                display: flex;
            }
            &__list{
                display: flex;
                align-items: center;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: -.5px;
                &+.calendar-badge__list{
                    margin-left: 15px;
                }
                span{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 14px;
                    border: 1px solid;
                }
                &--blue{
                    span{
                        border-color:#b7dcf3;
                        background: #eefaff;
                    }
                }
                &--yellow{
                    span{
                        border-color:#f7e99d;
                        background: #fffce9;
                    }
                }
                &--green{
                    span{
                        border-color:#b8ed98;
                        background: #efffe5;
                    }
                }
                &--red{
                    span{
                        border-color:#fcd2e6;
                        background: #fff1f8;
                    }
                }
            }
        }
    }
}