@charset 'UTF-8';

.table{
    &-wrap{
        margin-top:20px;
    }
    &-basic{
        &.table--us_od_01_list{
            td{
                text-align:center;
                &:nth-child(3){
                    text-align:left;
                }
            }
        }
    }
}